# Osomba Marketplace - Global Environment Template
# This file contains the superset of variables needed for the project.

# === Backend Configuration ===
# Copy these to `backend/.env` for local backend development
BACKEND_URL=http://localhost:8000/api/v1

# === Database Configuration ===
# Use these in the backend to connect to the database
POSTGRES_SERVER=localhost
POSTGRES_PORT=5433
POSTGRES_USER=[db-user]
POSTGRES_PASSWORD=[db-password]
POSTGRES_DB=postgres

# === AWS & Cognito Configuration ===
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=osomba-marketplace-assets
COGNITO_USER_POOL_ID=us-east-1_vf5HVszbN
COGNITO_APP_CLIENT_ID=513m3vscibhska2jie3ganrcn9

# === Payment Configuration ===
MPESA_API_KEY=
