commands:
  01_clean_pip_cache:
    command: "rm -rf /tmp/pip-* /var/app/venv/staging-*/lib/python*/site-packages/pip/_vendor/cachecontrol/caches/* 2>/dev/null; pip cache purge 2>/dev/null; true"
  02_clean_old_deployments:
    command: "rm -rf /opt/elasticbeanstalk/deployment/app_source_bundle_prev* 2>/dev/null; true"
  03_clean_staging:
    command: "rm -rf /var/app/staging_backup* /tmp/*.whl 2>/dev/null; true"
